{% extends "root.html" %}
{% load staticfiles %}

{% block body %}

<div class="jumbotron home-page" id="center">
    <div class="container text-center dept-of-housing">
        <img src="{% static 'img/en-logo-transparent.png' %}" class="logo" style="background-color: white;" alt="" />
        <h3 class="light embassy-logo">Grassroots Hospitality</h3>
        <h2>
            <div class="light">-</div>
            <div class="bold">solidarity. activism. hospitality.</div>
            <div class="bold">-<div>
        </h2>
        <a type="button" name="button" class="btn btn-primary btn-lg btn-brand locations-btn">LOCATIONS</a>
        <div class="row">
            <h3 class="col-sm-8 col-sm-offset-2">GrassRoots Hospitality helps the solidarity and activt movement unlock the value of space while combatting gentrification and extraction of local value.</h3>
        </div>
    </div>
</div>

<div class="text-center container" id="locations">

    <h2 class="featurette-heading">Locations</h2>


    {% for location in locations %}

        <a href="{% url 'location_home' location.slug %}" class="col-lg-4 col-md-6">
            <div class="location-box">
                <img src="{{MEDIA_URL}}{{location.profile_image}}" class="location-photo panel panel-default">
                <div class="location-name">
              <h2 class="bold">{{ location.name }}<br> <em class="small">{{ location.address}}</em></h2>
            </div>
            </div>
        </a>
    {% endfor %}
</div>
    <div id="join-section">
        <div class="container text-center">
            <div class="row featurette">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="featurette-heading">Grassroots Hospitality.</h2>
                    <p class="lead">
                    GrassRoots Hospitality is a hosting project based on the values of the GrassRoots Movement and is focused on  helping the Alternative and Solidarity Community to grow in a sustainable way and to unlock value of space while combatting gentrification and extraction of local value.  On one hand is a commons of fair priced spaces for visitors to have comfortable, value-aligned space to  stay; on the other hand is a project that supports activists coming  from abroad or other parts of the country by actively nurturing relationships with a city wide  network of Hosts and Local Communities and Projects.

After our experience in different groups and projects we understand the need of hosting actvists when they travel to Athens in order to attend festivals, conferences, workshops, work in local projects, or when they visit for solidarity reasons for demonstrations etc..  We also aim to facilitate integrating activists in the local community while they are here.
                    </p>
			<h2>Get Involved</h2>
			<p class="lead">To signup to be a Guest or a Host, please <a href="http://46.101.240.147:8000/people/register/">click here</a></p>
                    <h2>Get in Touch</h2>
                    <a href="mailto:info@rootshosp.org">
                    <h3>info@rootshosp.org</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="press-section">
        <div class="container text-center">
            <h2 class="featurette-heading">Links</h2>
            <div class="row">
            </div>
            <div class="row">
            </div>
        </div>
    </div>

</div>

{%endblock %}

{% block extrajs %}
{% endblock %}
